.outerheader {
  background-color: #ffffff;
}

header {
  
  padding: .5rem;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  
  svg {
    min-width: 100px;
    width: 100px;
    height: 100px;


  }

  h1 {
    font-size: 1.5rem;
    margin: 0px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  gap: 1em;
  
  .linkbtn {
    background-color: #efefef;
    padding: .5em;
    padding-bottom: .375em;
    color: #000000;
    text-decoration: none;
    border-bottom: .125em solid #000000;
  }
}