nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  button {
    border-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #eeeeee;
    height: fit-content;
    background-color: #7e7e7e;
    padding: 2px;
  }
  .selected {
    background-color: #00ff00;
    color: #000000;
  }
}

.historytimeline {
  align-self: center;
  width: 100%;
  height: 12px;
  border-radius: 4px;
}

.timelabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.historylist {
  gap: 10px;
  
}

.historysublist {
  gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 10px;
  >span {
    margin: 0px;
    font-style: italic;
  }
}

.historyCard {
  box-shadow: 0 8px 10px -4px #000;
  border-radius: 4px;
  border-left: 3px solid;
  padding: 12px;
  background-color: #ffffff;
  .predropdown {
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    p {
      padding: 0px;
      padding-bottom: 10px;
      margin: 0px;
    }
    .left {
      display: flex;
      justify-content: flex-start;
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
    .text {
      display: flex;
      justify-content: space-between;
    }
    * {
      width: 100%;
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    height: 0px;
    overflow: hidden;
    transition: height .125s ease, padding .125s ease;
  }

  .open {
    height: fit-content;
    padding: 8px 0;
  }
}

td {
  width: 0;
  align-self: center;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tableOfContent {
  margin: 0px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overscroll-behavior: contain;
  gap: 5px;
  li {
    list-style: none;
    background-color: #ededed;
    border-radius: 5px;
    box-shadow: 0 8px 16px -4px #000;
    width: fit-content;
    a {
      text-decoration: none;
      font-size: 1.7rem;
      color: #1a1a2a;
      padding: 5px;
    }
    border-left: 5px solid lightcyan;
  }
}

.cameraSelection {
  margin: 0px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overscroll-behavior: contain;
  gap: 5px;
  li {
    font-size: 1.5rem;
    list-style: none;
    cursor: pointer;
    padding: 5px;
    list-style: none;
    background-color: #ededed;
    border-radius: 5px;
    box-shadow: 0 8px 16px -4px #000;
    user-select: none;
  }
  .active {
    border-right: 5px solid #33ff33;
  }
  .inactive {
    border-right: 5px solid #ff3333;
  }
}

.hidden {
  height: 0px;
  overflow: hidden;
  padding: 0px;
}
