.messagebox {
  overflow: hidden;
  height: 0px;
  padding: 0px;

  background-color: #ffffff;
  border-radius: 1em;
  width: fit-content;

  transition: padding .25s ease;

  display: flex;
  flex-direction: column;
  gap: .5em;

  h2 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }

  button {
    width: fit-content;
    background-color: #efefef;
    border: 2px solid #000000;
    border-radius: .75em;
    padding: .5em;

    cursor: pointer;

    &:active {
      background-color: #dfdfdf;
    }
  }

  &.shown {
    padding: 1em;
    height: fit-content;
  }
}

.graybackdrop {
  &:has(.messagebox:not(.shown)) {
    background-color: #00000000;
    height: 0px;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000007f;
  transition: height .5s ease, background-color .5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}