.timeline {
  display: flex;
  flex-direction: row;
  height: 12px;
  border-radius: 4px;
  background-color: #dfdfdf;
  overflow: hidden;
  position: relative;

  .currenttime {
    position: absolute;
    display: block;
    background-color: #000000;
    border-radius: 4px;

    z-index: 1;

    width: 2px;
    height: 100%;
  }
}